:root {
    --primary-color: #1b4965;
    --secondary-color: #5fa8d3;
    --accent1-color: #000000;
    --accent2-color: #ffffff;

    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    padding: 16px;
}

header img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    background-color: rgba(255, 255, 255, 0.8);

    padding: 16px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--primary-color);
}

section {
    background-color: #f4f4f4;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    margin-left: 10px;
}
